/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

body{
  background-color: rgb(32, 7, 102);
}

h1{
  align-content: center;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  color: white;
  
}

.barra {
  background-color: rgb(255, 255, 255);
  width: 100%;
  
}
.btn{
  @apply rounded-full;
}